/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  max-inline-size: 701px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: var(--text-weight);
  color: var(--accent-color);
  background-color: var(--main-color);
  background-image: var(--background-gradient);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid var(--accent-color);
  padding: 120px 0 20px;
  margin-block-start: 101px;
  background-color: var(--main-color);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
  font-family: var(--accent-font);
  text-transform: uppercase;
  text-decoration: none;
}

.header__title {
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
  text-transform: uppercase;
  margin: 18px 0 23px;
}

.theme-menu {
  margin-inline-start: 19px;
}

.theme-menu__item:not(:last-child) {
  margin-block-end: 9px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 100%;
  transform: scale(0);
  height: 2px;
  margin-block-start: 2px;
  background-color: var(--accent-color);
  transition: transform 0.3s ease;
  transform-origin: 0;
}     

.theme-menu__button:focus-visible::after {
  transform: scale(1);
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -20px;
  animation: arrow 0.5s infinite ease-in-out alternate;
}

.card-list {
  margin-block-start: 100px;
}

.card-list__item {
  border: 3px solid var(--accent-color);
}

.card-list__item:not(:last-child) {
  margin-block-end: 51px;
}

.card__title {
  padding: 4px 10px;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-variation-settings:'wght' var(--title-weight);
  background-color: var(--main-color);
}

.image-wrapper__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

.image-wrapper {
  position: relative;
  outline: 2px solid var(--accent-color);

}

.image-filter-invert {
  filter: invert(0.3);
}

.image-filter-contrast {
  filter: contrast(200%);
}

.image-filter-saturate {
  filter: saturate(50%);
}

.image-filter-grayscale {
  filter: grayscale(150%);
}

.image-filter-sepia {
  filter: sepia(80%);
}

.image-filter-blur {
  filter: blur(2px);
}

.image-filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.image-filter-multiple {
  filter: invert(1) brightness(120%) saturate(60%) hue-rotate(90deg);
}

.image-wrapper__decor {
  position: absolute;
  right: 11px;
  top: 25px;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 var(--main-color),
    1px -1px 0 var(--main-color),
    -1px 1px 0 var(--main-color),
    -1px -1px 0 var(--main-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

.card-list__item:nth-child(n+4) .image-wrapper__decor {
  text-transform: lowercase;
}

@supports (-webkit-text-stroke: 1px var(--main-color)) {
  
  .image-wrapper__decor {
    -webkit-text-stroke: 1px var(--main-color);
  }
}

.text-wrapper {
  background-color: var(--main-color);
}

.text-wrapper__card-text {
  padding: 29px 27px 0 25px;
  color: var(--accent-color);
  font-family: var(--main-color);
  font-size: 18px;
  font-variation-settings: 'wght' var(--text-weight);
  line-height: 21px; /* 116.667% */
}

.card__buttons-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 25px 25px 22px 0;
  background-color: var(--main-color);
}

.card__icon-button {
  width: 38px;
  height: 37px;
  background-color: transparent;
  border: none;
  margin-inline-end: 7px; 
  cursor: pointer;
  outline: none;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.card__like-button {
  padding: 8px 17px;
  min-width: 130px;
}

.animation-button {
  background-color: var(--main-color);
  border: 2px solid var(--accent-color);
}

.button__text {
  mix-blend-mode: difference;
  color: var(--button-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 90%; /* 12.6px */
  text-align: center;
}

.footer {
  margin-block-start: 54px;
  margin-block-end: 104px;
  display: flex;
  justify-content: center;
}

.footer__button {
  padding: 15px 20px;  
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 8px;

}

.floppy__footer {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
  fill: var(--button-color);
  color: var(--button-color);
}

.sparks {
  opacity: 0;
}

#dialog__save::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

#dialog__save[open] {
  border: 2px solid var(--accent-color);
  background-color: var(--main-color);
  padding: 30px 40px;
  width: clamp(21.25rem, 20.946rem + 1.518vw, 22.313rem);
  margin-block-start: 300px;
  display: grid;
  grid-template: auto auto / auto auto;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}

.dialog__text {
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
}

#dialog__save[open] .floppy__footer {
  width: 39px;
  height: 39px;
}

.dialog__button {
  grid-column: 1 / 3;
  padding: 9px 17px;  
  text-transform: uppercase;
}

@media (width >= 1440px) {

  .header {
    padding: 136px 0 20px;
  }

  .image-wrapper__decor {
    right: 25px;
  }
}

@media (width >= 1400px) {

  .footer__button {
    flex-direction: row;
  }
}