/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --text-weight: 400;
  --title-weight: 700;
  --main-color: #fff;
  --accent-color: #000;
  --button-color: #fff; 
}

:root.theme-dark {
  --text-weight: 465;
  --title-weight: 785;
  --main-color: #000;
  --accent-color: #00cc14;
  --button-color: #00cc14; 
}

@media (prefers-color-scheme: dark) {
    
  :root {
    --text-weight: 465;
    --title-weight: 785;
    --main-color: #000;
    --accent-color: #00cc14;
    --button-color: #00cc14; 
  }
}
