/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: 'Inter-Variable', 'sans-serif';
  --accent-font: 'PressStart2P-Regular', 'sans-serif';
  --text-weight: 400;
  --title-weight: 700;
  --main-color: #fff;
  --accent-color: #000;
  --button-color: #fff; 
  --sparks-color: #f00;
}
